// colors:

$color-primary: #6f88fc;
$color-primary-light: #45e3ff;
$color-primary-dark: #a163f7;

$white: #fefff1;

$font-color: $white;

// gradient colors:

$gd-darker: #c22ed0;
$gd-lighter: #5ffae0;

$bcg-gradient: linear-gradient(135deg, $gd-darker 0%, $gd-lighter 100%);

// shadows

$shadow: 4px 4px 35px -10px rgba(
    $color: $color-primary-dark,
    $alpha: 0.7
  );

// measuers

$basic-measure: 20px;
$big-measue: $basic-measure * 1.5;
$std-margin: $basic-measure;

$tab-height: $big-measue + $std-margin + $std-margin;

// fonts sizes
$card-header: $basic-measure;

// other
$rounded: $basic-measure;
