@import url("https://fonts.googleapis.com/css?family=Chivo:400,900|Overpass&display=swap");

// colors:

$color-primary-dark: #3b3759;
$color-primary: #759aab;
$color-primary-light: #d6edff;

$color-secondary-dark: #9b6a6c;
$color-secondary: #d3c1c3;
$color-secondary-light: #eeecec;

$color-accent: #4e937a;
$color-accent-dark: #357266;

$white: #fffcf2;
$black: #252422;

$font-color: $white;

// gradient colors:

$gd-darker: #aa5377;
$gd-lighter: #ffb565;
$color-basic: $color-secondary-light;

//gradients:

$gradient: linear-gradient(135deg, $gd-darker 0%, $gd-lighter 100%);
$bcg-gradient: $gradient;

// shadows

$shadow: 4px 4px 35px -10px rgba(
    $color: $color-primary-dark,
    $alpha: 0.7
  );

// fonts

$font-basic: "Overpass", sans-serif;
$font-special: "Chivo", sans-serif;

// measuers

$basic-measure: 20px;
$big-measue: $basic-measure * 1.5;
$std-margin: $basic-measure;

$tab-height: $big-measue + $std-margin + $std-margin;

// fonts sizes
$card-header: $basic-measure;

// other
$rounded: 30px;

//breakpoints:

$breakpoint-small: 679px;
