.form {
  &-row {
    display: flex;
    flex-direction: column;
    .label {
      order: -1;
    }
    .label,
    .input {
      display: block;
      color: inherit;
      background-color: transparent;
      padding: 0 3px;
      &:focus {
        background-color: transparent;
      }
    }
  }
}
