.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #c22ed0 0%, #5ffae0 100%);
  &-form {
    width: 350px;
  }
}

.homepage-form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  .errInfoField {
    width: 100%;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    color: rgba(red, 0.8);
    transition: height 0.3s ease-in-out;
    &:empty {
      height: 0px;
    }
  }
  .navbar {
    display: contents;
    &-item {
      border-radius: 15px;
      height: 70px;
      z-index: 1;
      position: relative;
    }
  }
  .btn[aria-controls="login"],
  #login {
    order: 1;
  }
  .form-row {
    margin: 10px 0;
    .input {
      height: 30px;
      border: 1px solid currentColor;
      border-radius: 5px;
      margin-top: 3px;
    }
  }
  .btn {
    $btn-size: 20px;
    text-transform: capitalize;
    font-size: $btn-size;
    line-height: $btn-size;
    letter-spacing: 2px;
    font-weight: bold;
    padding: $btn-size $btn-size * 2;
    &-action {
      $btn-size: 16px;
      margin: 30px auto;
      border: 1px solid currentColor;
      border-radius: 10px;
      padding: $btn-size $btn-size * 2;
      font-size: $btn-size;
      line-height: $btn-size;
    }
  }
}

.formWrapper {
  height: 0;
  overflow: hidden;
  &.active {
    padding: 35px;
    margin: -20px 0;
    height: 100%;
  }
}

.formWrapper,
.tab {
  background-color: white;
  &.login {
    color: $font-color;
    background-color: $color-primary;
  }
}
